/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}


h2 {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

.bigger-150
{
  font-size:150%
}

/* service events */
div.site {
  border: 5px solid #fff;
  border-radius: 10px;
  background-color: rgba(219, 219, 219, 0.5);
  min-height: 135px;
  overflow: hidden;
}

a.site {
  color: rgb(0, 0, 0);
}

a.site:hover {
  color: rgb(255, 102, 0);
}

a.events {
  color: rgb(255, 255, 255);
}

.site span.name {
  position: inherit;
  z-index: 100;
  font-size: 3.0em;
  font-weight: 200;
}

.site span.events.count {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
  border-radius: 999px;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 128, 0, 0.8);
}

span.events.count.alarm {
  color: rgb(255,255,255);
}

.site span.events.count.alarm {
  background-color: rgba(255, 0, 0, 0.8);
  padding: 15px 28px;
  margin: -7px;
  font-size: 1.9em;
}

.site span.events.count.alarm.large {
  padding: 25px 30px;
  margin: -20px -15px;
  font-size: 2.5em;
}

.site span.events.count.alarm.larger {
  padding: 30px 35px;
  margin: -30px -20px;
  font-size: 2.8em;
}

.site span.events.count.alarm.largest {
  padding: 35px 40px;
  margin: -35px -20px;
  font-size: 3.0em;
}